body{
    background-image: url("./pic/keith-misner-h0Vxgz5tyXA-unsplash.jpg");

}

/* banner */

.banscreen{
    overflow: hidden;
    height: 100vh;
    padding-top: 100px;
    position: relative;

}

.banctrl{
    position: absolute;
    font-size: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* left: -1920px; */
    
}

.banner{
    position: relative;
    width: 100vw;

}

.banner1 {
    position: relative;
    z-index: -30;

}

.slogan{
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 30;
    transform: translate(10%,-50%);
    background-color: hsla(0,0%,0%,.7);
    padding: 16px;
    border-radius: 16px;

}

.slogan p{
    font-size: 48px;

}

.slogan span{
    color: #FFB366;
    
}

.banner1 .name{
    position: absolute;
    z-index: 29;
    left: 20%;
    transform: translate(-75%,-25%);
    background-color: hsla(0,0%,0%,.7);

}

.ctrlban{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,0%);
    text-align: center;

}

.ctrlban li{
    width: 24px;
    height: 24px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: #383A3F;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #383A3F;
    box-shadow: 2px 2px 4px black;

    opacity: .7;

}

.lifocus{
    background-color: #FFB366 !important;

    animation-name: op;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes op{
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

/* /banner */

/* calendar */

.calendar{
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    background-color: #383A3F;
    margin-bottom: 100px;

}

.month{
    text-align: center;    
    background-color: #FFB366;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    padding-bottom: 8px;

}

.turnL , .turnR{
    cursor: pointer;    
    
}

.month h6{
    color: #80644C;
    text-shadow: none;

}

.week , .day{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 16px;

}

.hide{
    display: none;
    
}

.week div{
    width: 13%;
    background-color: #FFB366;
    text-align: center;
    font-weight: bold;
    color: #80644C;
    font-size: 20px;
    line-height: 28px;

}

.day div{
    position: relative;
    width: 13%;
    height: 120px;
    background-color: hsla(28,25.5%,60%,1);

}

.showname{
    font-size: 36px;
    color: #FFB366;
    font-weight: bold;
    text-shadow: 4px 4px 12px black;

}

tr:first-child td{
    font-size: 20px;

}

tr:last-child td{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

}

/* /calendar */


.shower{
    position: relative;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 100vh;
    
}

.colde{
    background-image: url("./pic/20170708_Liiv_리브콘서트_크러쉬_2.png");

}

.name , .text{
    position: absolute;

}

.name{
    left: 10%;
    top: 10%;
    border: 4px double #FFB366;
    padding: 0 16px;
    background-color: hsla(0,0%,0%,.7);

}

.text{
    right: 10%;
    top: 10%;
    width: 40%;
    padding: 16px;
    background-color: hsla(0,0%,0%,.7);
    border-radius: 24px;

}

.EggPlantEgg{
    background-image: url("./pic/EggPlantEgg2000x1335.png");

}

/* RWD */
@media screen and (max-width:575px){

    .banner{
        background-size: contain;
        background-repeat: no-repeat;

    }

    .slogan p{
        font-size: 12px;
        
    }

    .ctrlban li{
        width: 12px;
        height: 12px;
        margin: 0 12px;
    
    }

    .calendar{
        width: 90%;
 
    }

    .week{
        display: none;

    }

    .day{
        flex-direction: column;
        height: 70vh;

    }

    .day div{
        width: 90%;
        margin: 4px auto;

    }

    table{
        width: 100%;
    }

    .showname{
        text-align: center;

    }

    tr:first-child td{
        font-size: 16px;
    
    }

    tr:last-child td{
        font-size: 16px;
    
    }
    

    .shower{
        background-size: contain;
    }

    .text{
        display: none;

    }

    .name{
        left: 75% !important;
        top: 20%;
        transform: translate(0,0);

    }
    
    .name h3{
        font-size: 16px;
        padding: 0;
    }

}
    

@media screen and (max-width:767px) and (min-width:576px){

    .banner{
        background-size: contain;
        background-repeat: no-repeat;

    }

    .slogan p{
        font-size: 24px;
        
    }

    .ctrlban li{
        width: 12px;
        height: 12px;
        margin: 0 12px;
    
    }

    .calendar{
        width: 90%;
 
    }

    .week{
        display: none;

    }

    .day{
        flex-direction: column;
        height: 70vh;

    }

    .day div{
        width: 90%;
        margin: 4px auto;

    }

    table{
        width: 100%;
    }

    .showname{
        text-align: center;

    }

    .shower{
        background-size: contain;
    }

    .text{
        display: none;

    }

    .name{
        left: 75% !important;
        top: 20%;
        transform: translate(0,0);

    }

    .name h3{
        font-size: 24px;
        
    }

}

@media screen and (max-width:992px) and (min-width:768px){

    .banner{
        background-size: contain;
        background-repeat: no-repeat;

    }

    .slogan p{
        font-size: 24px;
        
    }

    .ctrlban li{
        width: 16px;
        height: 16px;
        margin: 0 16px;
    
    }

    .calendar{
        width: 90%;
 
    }

    .week{
        display: none;

    }

    .day{
        flex-direction: column;
        height: 70vh;

    }

    .day div{
        width: 90%;
        margin: 4px auto;

    }

    table{
        width: 100%;
    }

    .showname{
        text-align: center;

    }

    .shower{
        background-size: contain;
    }

    .text{
        display: none;

    }

    .name{
        left: 75% !important;
        top: 20%;
        transform: translate(0,0);

    }
    
    .name h3{
        font-size: 24px;
        
    }

}

@media screen and (max-width:1200px) and (min-width:991px){

    .banner{
        background-size: contain;
        background-repeat: no-repeat;

    }

    .slogan p{
        font-size: 36px;

    }

    .calendar{
        width: 90%;
 
    }

    .week{
        display: none;

    }

    .day{
        flex-direction: column;
        height: 70vh;

    }

    .day div{
        width: 90%;
        margin: 4px auto;

    }

    table{
        width: 100%;
    }

    .showname{
        text-align: center;

    }

    .shower{
        background-size: contain;
    }

    .text{
        display: none;    
            
    }


    
    .name h3{
        font-size: 24px;
        
    }

}

@media screen and (min-width:1200px){

    td span{
        display: none;

    }

    .turnL , .turnR{
        display: none;
        
    }

}