footer{
    position: relative;
    height: 200px;
    background-color: #383A3F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    /* align-items: center; */
    
}

footer p{
    font-size: 16px;
    
}

.map{
    width: 300px;

}

.icons{
    position: absolute;
    bottom: 4px;
    left: 4px;

}

.copyright{
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,0);

}

.strlogo{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);

}

@media screen and (max-width:575px){

    footer{
        flex-direction: column;
        height: 200px;

    }

    .strlogo{
        display: none;

    }

    .map{
        display: none;
    }

    .icons{
        left: calc(100% - 104px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }

}

@media screen and (max-width:767px) and (min-width:576px){



}

@media screen and (max-width:992px) and (min-width:768px){


}

@media screen and (max-width:1200px) and (min-width:991px){



}