*{
    box-sizing: border-box;
    color: #FFEEE4;
    margin: 0;
    padding: 0;
    font-family:Comic Sans MS,Microsoft JhengHei;
    /* text-shadow: 4px 4px 8px hsla(0, 0%, 0%, .7); */
    color: #FFEEE4;

}                                                    

body{
    /* background-color: #262626; */

}

header{
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #383A3F;
    z-index: 29;
    font-size: 0;

}

/* 文字設定集 */
h1{
    font-size: 4rem;
    padding: 100px 0;
    text-shadow: 4px 4px 12px black;
  
}

h2{
    font-size: 3.5rem;
    padding: 100px 0;
    text-shadow: 4px 4px 12px black;

   
}

h3{
    color: #FFB366;
    font-size: 3rem;
    text-shadow: 4px 4px 12px black;

}

h4{
    color: #FFB366;
    font-size: 2rem;
    text-shadow: 4px 4px 12px black;

}

h5{
    font-size: 4rem;
    text-align: center;
    padding: 100px 0;
    text-shadow: 4px 4px 12px black;

}

h6{
    font-size: 3rem;
    text-align: center;
    text-shadow: 4px 4px 12px black;

}

P{
    font-size: 24px;
    text-shadow: 4px 4px 8px hsla(0, 0%, 0%, .7);

}

button , input{
    position: relative;
    border-radius: 8px;
    font-size: 24px;
    padding: 0px 20px ;
    color:hsla(0,53.4%,22.7%,1);
    background-color: hsla(28,25.5%,80%,1);
    font-weight: bold;   

    z-index: 1;
    overflow: hidden;

}

    /* 訂餐系底下鈕 */
    .bookingbutton{
        margin: 100px 0;
        margin-left: 50%;
        transform: translate(-50%,0);
        
    }
    /* /訂餐系底下鈕 */

/* /文字設定集 */

ul{
    list-style: none;

}

nav{
    border-bottom: 1px solid;
    width: 90%;
    margin: 0 auto;

}

a{
    text-decoration: none;

}

.here{
    color: #FFB366 ;
    
}

.line a{
    text-shadow: 6px 6px 12px hsla(0, 0%, 0%, 1);

}

.maintitle {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}

.maintitlephone{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    

}


.rowlogo{
    height: 100px;

}

.maintitle li ,.maintitlephone li{
    padding: 0 20px;
    font-size: 32px;

}

.maintitle li>a{
    padding: 20px;

}

.hamburger {
    display: none !important;

}

/* 導覽列主次標 */
.sub{
    position: relative;

}

.extra{
    display: none;
    position: absolute;
    width: 100px;
    background-color: #383A3F;
    
}

.extra li{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    
}

.extra li a{
    padding: 5px ;
    font-size: 24px;
    color: #FFB366;

}

.sub:hover .extra{
    display: inline-block;
    left: 50%;
    top: 100%;
    transform: translate(-50%,1px);

}

/* 底線 */

.line{
    position: relative;

}

.line>a::after{
    content: "";
    position: absolute;
    left: 15%;
    right: 85%;
    bottom: 0;
    border-bottom: 1px solid transparent;
    transition: .5s;

}

.line>a:hover::after{
    left: 15%;
    right: 15%;
    border-bottom: 1px solid hsla(28, 25.5%, 80%, 1);

}

/* /底線 */

.sub::before{
    position: absolute;
    content: '';
    left: 15%;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 1px;
    border-top: 16px solid #FFEEE4;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

}



/* /導覽列主次標 */


@media screen and (max-width:575px){

    h1,h2,h3,h4,h5,h6{
        padding:20px;

    }

    h3,h4{
        padding-top: 0px;
        padding-bottom: 0px;

    }
    

    h1{
        font-size: 40px;
      
    }
    
    h2{
        font-size: 36px;
    
       
    }
    
    h3{
        font-size: 32px;
    
    }
    
    h4{
        font-size: 28px;
    
    }
    
    h5{
        font-size: 40px;

    
    }
    
    h6{
        font-size: 32px;
    
    }
    
    P{
        padding: 0 20px;

    }

    .hamburger{
        display: inline-block !important;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translate(0,-50%);

    }

    .rowlogo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 80px;

    }
    
    .maintitlephone{
        display: none;
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 96px;
        width: 100%;
        height: 100vh;

    }

    .maintitlephone li{
        text-align: center;
        margin: 5vh 0;

    }

    .sub{
        height: 130px;

    }

    .extra{
        display: inline-block;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);

    }

    .sub:hover .extra{
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
    
    }

    li.grid{
        display: none;

    }

}

@media screen and (max-width:767px) and (min-width:576px){

    .hamburger{
        display: inline-block !important;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translate(0,-50%);

    }

    .rowlogo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 80px;

    }
    
    .maintitlephone{
        display: none;
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 96px;
        width: 100%;
        height: 100vh;

    }

    .maintitlephone li{
        margin: 5vh 0;
        text-align: center;
    }

    .sub{
        height: 130px;

    }

    .extra{
        display: inline-block;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);

    }

    .sub:hover .extra{
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
    
    }

    li.grid{
        display: none;

    }

}

@media screen and (max-width:992px) and (min-width:768px){

    .hamburger{
        display: inline-block !important;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translate(0,-50%);

    }

    .rowlogo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 80px;

    }
    
    .maintitlephone{
        display: none;
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 96px;
        width: 100%;
        height: 100vh;

    }

    .maintitlephone li{
        margin: 10vh 0;
        text-align: center;
    }

    .sub{
        height: 130px;

    }

    .extra{
        display: inline-block;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);

    }

    .sub:hover .extra{
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
    
    }

    li.grid{
        display: none;

    }
}

@media screen and (max-width:1200px) and (min-width:991px){

    

    li.grid{
        display: none;

    }

}