body{
    background-image: url("./pic/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    background-size: contain;

}

/* banner */

.banner{
    background-image: url("./pic/oleg-ivanov-ILybAzFjn5c-unsplash.jpg");
    position: relative;
    height: 100vh;
    background-position: 0 100px;
    background-attachment: fixed;

}

.slogan{
    position: absolute;
    z-index: 1;

}

.slogan p{
    font-size: 48px;

}

.slogan span{
    color: #FFB366;
    
}

/* /banner */

.show{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    
}

/* singer */

.singer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.singer_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;


}

.singer_text{
    position: relative;
    background-color: hsla(0,0%,0%,.7);
    padding: 16px;
    border-radius: 24px;
    padding-bottom: 64px;

}

.singer_text button{
    position: absolute;
    right: 16px;
    bottom: 16px;

}

/* /singer */

/* band */

.band{
    display: flex;
    flex-direction: row;

}

.band_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;

}

.band_text{
    position: relative;
    background-color: hsla(0,0%,0%,.7);
    border-radius: 24px;
    padding: 16px;
    padding-bottom: 64px;

}

.band_text button{
    position: absolute;
    right: 16px;
    bottom: 16px;

}

/* /band */

.meal_back{
    background-image: url("./pic/背景拷貝2.png");
    background-attachment: fixed;
    padding-bottom: 100px;

}

.meal_layout{
    width: 1200px;
    margin: 0 auto;

}

/* drink */

.drink{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.drink_detail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
    width: 100%;


}

.drink_text{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 16px;
    padding-bottom: 40px;
    background-color: hsla(0,0%,0%,.7);
    border-radius: 24px;

}

.drink_text button{
    position: absolute;
    right: 4px;
    bottom: 4px;

}

/* /drink */

/* food */

.food{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.food_detail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
    width: 100%;

}

.food_text{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 83%;
    padding: 16px;
    padding-bottom: 32px;
    background-color: hsla(0,0%,0%,.7);
    border-radius: 24px;
    
}

.food_text button{
    position: absolute;
    right: 4px;
    bottom: 4px;

}

/* /food */

/* 動畫 */

section{
    position: fixed;
    height: 100vh;

}


.scoll{
    display: inline-block;


}
/* /動畫 */

@media screen and (max-width:575px){

    .slogan{
        left: 0;
        bottom: 0;
        width: 100%;
        
    }

    .slogan p{
        font-size: 24px;
        
    }

    .banner{
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    h1 , h2{
        padding: 20px;

    }

    .show{
        width: 100%;
        
    }

    .singer{
        flex-direction: column;
        align-items: center;

    }

    .singer_list{
        padding-bottom:100px ;

    }

    .band{
        flex-direction: column;
        align-items: center;

    }

    .band_detail{
        padding-bottom: 100px;

    }

    .band img {
        width: 375px;

    }

    .meal_back{
        background-image: none;
        /* background-position: center;
        background-repeat: no-repeat; */

    }

    .meal_layout{
        width: 100%;

    }

    .drink{
        flex-direction: column;

    }

    .drink_detail{
        padding-bottom: 100px;
    }

    .drink_text{
        width: 300px;

    }

    .food{
        flex-direction: column;

    }

    .food_detail{
        padding-bottom: 100px;
    }

    .food_detail img , .food_text{
        width: 375px;

    }

}

@media screen and (max-width:767px) and (min-width:576px){

    .slogan{
        left: 0;
        bottom: 0;
        width: 100%;
        
    }

    .slogan p{
        font-size: 28px;
        
    }

    .banner{
        background-size: contain;
        background-repeat: no-repeat;
        height: 420px;
    }

    h1 , h2{
        padding: 20px;

    }

    .show{
        width: 100%;
        
    }

    .singer{
        flex-direction: column;
        align-items: center;

    }

    .singer_list{
        padding-bottom:100px ;

    }

    .band{
        flex-direction: column;
        align-items: center;

    }

    .band_detail{
        padding-bottom: 100px;
        
    }

    .band img {
        width: 375px;

    }

    .meal_back{
        background-image: none;
        /* background-position: center;
        background-repeat: no-repeat; */

    }

    .meal_layout{
        width: 100%;

    }

    .drink{
        flex-direction: column;

    }

    .drink_detail{
        padding-bottom: 100px;
    }

    .drink_text{
        width: 300px;

    }

    .food{
        flex-direction: column;

    }

    .food_detail{
        padding-bottom: 100px;
    }

    .food_detail img , .food_text{
        width: 375px;

    }

}

@media screen and (max-width:992px) and (min-width:768px){

    .slogan{
        left: 0;
        bottom: 0;
        width: 100%;
        
    }

    .slogan p{
        font-size: 28px;
        
    }

    .banner{
        background-size: contain;
        background-repeat: no-repeat;
        height: 420px;
    }

    .show{
        width: 100%;
        
    }

    .singer{
        flex-direction: column;
        align-items: center;

    }

    .singer_list{
        padding-bottom:100px ;

    }

    .band{
        flex-direction: column;
        align-items: center;

    }

    .band_detail{
        padding-bottom: 100px;
        
    }

    .band img {
        width: 375px;

    }

    .meal_back{
        /* background-image: none; */
        background-position: center;
        background-repeat: no-repeat;

    }

    .meal_layout{
        width: 100%;

    }

    .drink{
        flex-direction: column;

    }

    .drink_detail{
        padding-bottom: 100px;
        
    }

    .drink_text{
        width: 300px;

    }

    .food{
        flex-direction: column;

    }

    .food_detail{
        padding-bottom: 100px;

    }

    .food_detail img , .food_text{
        width: 375px;

    }

}

@media screen and (max-width:1200px) and (min-width:991px){

    .slogan{
        top: 50%;
        left: 10%;
        transform: translate(-10%,-50%);
    
    }

    .slogan p{
        font-size: 32px;
        
    }

    .banner{
        background-size: contain;
        background-repeat: no-repeat;

    }

    h1 , h2{
        padding: 20px;

    }

    .show{
        width: 100%;
        
    }

    .singer{
        flex-direction: column;
        align-items: center;

    }

    .singer_list{
        padding-bottom:100px ;

    }

    .band{
        flex-direction: column;
        align-items: center;

    }

    .band_detail{
        padding-bottom: 100px;
        
    }

    .band img {
        width: 375px;

    }

    .meal_back{
        /* background-image: none; */
        background-position: center;
        background-repeat: no-repeat;

    }

    .meal_layout{
        width: 100%;

    }

    .drink{
        flex-direction: column;

    }

    .drink_detail{
        padding-bottom: 100px;
    }

    .drink_text{
        width: 300px;

    }

    .food{
        flex-direction: column;

    }

    .food_detail{
        padding-bottom: 100px;
    }

    .food_detail img , .food_text{
        width: 375px;

    }

}

@media screen and (min-width:1200px){

    .slogan{
        top: 50%;
        left: 10%;
        transform: translate(-10%,-50%);
    
    }
    
    .singer{
        height: 300px;
        transition-duration: .5s;
        z-index: 0;

    }

    .singer img{
        z-index: 2;

    }
    
    .singer_text{
        transform: translate(0,-100%);
        opacity: 0;
        z-index: -1;
        transition-duration: .5s;

    }

    .singer_list:hover .singer_text{
        transform: translate(0,0);
        opacity: 1;

    }

    .singer:hover{
        height: 700px;

    }

    .band{
        height: 375px;
        transition-duration: .5s;

    }
    
    .band_detail img{
        z-index: 2;

    }

    .band_text{
        transform: translate(0,-100%);
        z-index: -1;
        opacity: 0;
        transition-duration: .5s;

    }

    .band_detail:hover .band_text{
        transform: translate(0,0);
        opacity: 1;

    }

    .band:hover{
        height: 800px;

    }

}