body{
    background-image: url("./pic/eff.png");
    background-color: black;
    background-position: 70% 0%;

    background-repeat: no-repeat;
    opacity: 1;
}

h2{
    padding-bottom: 0;
    
}

.back{
    /* background-color: #383A3F; */
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    
}

.daytime{
    margin: 20px auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

label{
    font-size: 24px;

}

option{
    color: black;
    
}

.bookwindow{
    position: relative;
    width: 1200px;
    /* height: 700px; */
    border: 1px solid black;
    margin: 20px auto ;

    overflow: hidden;

    background-image: url("./pic/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    background-size: contain;

}

P.remark{
    font-size: 16px;

}

select ,input[type="text"] ,input[type="date"] {
    width: 300px;
    margin-bottom: 10px;
    color: black;
    font-size: 24px;

}

.bookwindow button{
    position: absolute;

}

.bookwindow div{
    position: absolute;

}

.bookwindow div button:first-child(){
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    border-radius:0 ; 

}

.bookwindow div button:nth-child(n+2){
    position: absolute;
    padding: 20px;
    border-radius: 50% ;

}


/* ========================================================== */

/* 吧檯 */

/* @media > 1200px */

@media screen and (min-width:1200px){

.bookwindow{
    height: 700px;
}
    
.Ablock{
    top: 0;
    right: 4%;
    width: 54%;
    height: 29%;
        
}

.A{
    top: 0;
    left: 0;
    width: 90%;
    height: 75%;
    border-radius: 0 0 50px 0;

}

.A1 , .A2{
    right: 0;
}

.A1{
    top: 5%;
}

.A2{
    top: 35%;
}

.A3 , .A4 , .A5 , .A6 , .A7 , .A8 , .A9{
    bottom: 0;
}

.A3{
    right: 20%;
}

.A4{
    right: 32%;
}

.A5{
    right: 44%;
}

.A6{
    right: 56%;
}

.A7{
    right: 68%;
}

.A8{
    right: 80%;
}

.A9{
    right: 92%;
}

/* /吧檯 */
/* ========================================================== */
/* 方桌 */

.block{
    width:30%;
    height:30%;
    
}

.b{
    width: 42%;
    height: 75%;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);

}

.b1{
    top: 20%;
    right: 10%;

}

.b2{
    bottom: 20%;
    right: 10%;

}

.b3{
    top: 20%;
    left: 10%;
    
}

.b4{
    bottom: 20%;
    left: 10%;

}

/* /方桌 */
/* ========================================================= */
/* 位置 */

    /* 水平 */
    .B , .C{
        right: 0;

    }

    .D , .E{
        right: 30%;

    }

    .F , .G{
        left: 10%;

    }
    /* /水平 */

    /* 垂直 */
    .B , .D{
        bottom: 35%;

    }

    .C , .E{
        bottom: 0px;

    }

    .F{
        bottom: 60%;

    }

    .G{
        bottom: 15%;

    }
    /* /垂直 */

    /* 旋轉 */
    .F , .G{
        transform: rotate(-30deg);

    }

    /* /旋轉 */

/* /All */
/* ========================================================= */
/* 舞台 */

    .show{
        position: absolute;
        width: 25%;
        height: 42%;
        border: 1px solid black;
        border-radius: 50%;
        background-color: black;
        
        bottom: 25%;
        transform: translate(-50% , 0);
        
    }

    .show p{
        color: white;
        font-size: 48px;
        width: 48px;
        height: 96px;
        position: absolute;
        right: 25%;
        bottom: 50%;
        transform: translate(25% , 50%);

    }
}

/* /@media > 1200px */

/* /舞台 */
/* ========================================================= */


/* ========================================================= */
/* result */

    .result{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0;
        width: 300px;
        background-color: hsla(0,0%,30%,1);
        position: fixed;
        right: 0;
        top:50%;
        transform: translate(0%,-50%);
        transition-duration: .5s;
        border-radius: 8px 0 0 8px;


        
    }

    .btn_drawer{
        content: "";
        position: absolute;
        background: none;
        background-color: hsla(0,0%,30%,1);
        transform: translate(-100%,0);
        color: hsla(28, 25.5%, 80%, 1);
        text-shadow: 4px 4px 8px hsla(0, 0%, 0%, .7);


        height: auto;
        border-radius: 8px 0 0 8px;
        outline: none;
        
        width: 32px;
        padding: 4px;
        border: none;

    }

    .result div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        margin: 0 auto;
    }

    .result p ,.result label{
        font-size: 24px;
        padding: 4px;

    }

    .result input{
        background-color: #515151;
        outline: none;
        border: 0;
        border-bottom: 1px solid white;
        text-align: center;
        font-size: 16px;

    }

    input[type="submit"]{
        width: 100px; 
        margin: 0 auto;
        display: block;
        font-size: 24px;
        background-color: black;
        border-radius: 24px;
        
    }

    div.result.-open{
        transform: translate(100%, -50%);

    }
    
/* result */
/* ========================================================= */
/*  RWD */
      

@media screen and (max-width:575px){

    .back{
        width: 100%;
    }

    .daytime{
        width: 100%;
        margin: 20px 0;
        flex-direction: column;

    }

    .bookwindow div button:nth-child(n+2){
        position: absolute;
        padding: 16px;
        border-radius: 50% ;
    
    }

    .show p{
        font-size: 24px;
        

    }

}
    
@media screen and (max-width:699px) and (min-width:576px){

    .back{
        width: 100%;
    }

    .daytime{
        width: 100%;
        margin: 20px 0;
        flex-direction: column;

    }

    .bookwindow{
        /* display: none; */
        

    }

    .bookwindow div button:nth-child(n+2){
        position: absolute;
        padding: 16px;
        border-radius: 50% ;
    
    }

}

@media screen and (max-width:991px) and (min-width:700px){

    .back{
        width: 100%;
    }

    .daytime{
        width: 100%;
        margin: 20px 0;
        flex-direction: column;

    }

    .bookwindow{
        width: 700px !important;
        margin: 20px auto;

    }

    .bookwindow div button:nth-child(n+2){
        position: absolute;
        padding: 20px !important;
        border-radius: 50% ;
    
    }

}

@media screen and (max-width:1200px) and (min-width:992px){

    .back{
        width: 100%;
    }

    .daytime{
        width: 100%;
        margin: 20px 0;
        flex-direction: column;

    }

    .bookwindow{
        width: 700px !important;
        margin: 20px auto;
    }

    .bookwindow div button:nth-child(n+2){
        position: absolute;
        padding: 20px;
        border-radius: 50% ;
    
    }

}



/* for bookwindow 訂位 */
@media screen and (max-width:1200px){

    .bookwindow{
    position: relative;
    width: 100%;

}

.bookwindow button{
    position: absolute;

}

.bookwindow div{
    position: absolute;

}

.bookwindow div button:first-child(){
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    border-radius:0 ; 

}

.bookwindow div button:nth-child(n+2){
    position: absolute;
    padding: 12px;
    border-radius: 50% ;
    width: 0;
    height: 0;

}

/* ========================================================== */

/* 吧檯 */

.Ablock{
    right: 0;
    bottom: 4%;
    width: 29%;
    height: 54%;
        
}

.A{
    right: 0;
    top: 0;
    height: 90%;
    width: 75%;
    border-radius: 0 0 0 50px;

}

.A1 , .A2{
    bottom: 0;
}

.A1{
    right: 5%;
}

.A2{
    right: 35%;
}

.A3 , .A4 , .A5 , .A6 , .A7 , .A8 , .A9{
    left: 0;
}

.A3{
    bottom: 20%;
}

.A4{
    bottom: 32%;
}

.A5{
    bottom: 44%;
}

.A6{
    bottom: 56%;
}

.A7{
    bottom: 68%;
}

.A8{
    bottom: 80%;
}

.A9{
    bottom: 92%;
}

/* /吧檯 */
/* ========================================================== */
/* 方桌 */

.block{
    height:30%;
    width:30%;
    
}

.b{
    height: 42%;
    width: 75%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);

}

.b1{
    right: 20%;
    bottom: 10%;

}

.b2{
    left: 20%;
    bottom: 10%;

}

.b3{
    right: 20%;
    top: 10%;
    
}

.b4{
    left: 20%;
    top: 10%;

}

/* /方桌 */
/* ========================================================= */
/* 位置 */

    /* 水平 */
    .B , .C{
        bottom: 0;

    }

    .D , .E{
        bottom: 30%;

    }

    .F , .G{
        top: 10%;

    }
    /* /水平 */

    /* 垂直 */
    .B , .D{
        left: 35%;

    }

    .C , .E{
        left: 0px;

    }

    .F{
        left: 60%;

    }

    .G{
        left: 15%;

    }
    /* /垂直 */

    /* 旋轉 */
    .F , .G{
        transform: rotate(-30deg);

    }

    /* /旋轉 */

/* /All */

    .show{
        position: absolute;
        height: 25%;
        width: 42%;
        border: 1px solid black;
        border-radius: 50%;
        background-color: black;
        
        left: 25%;
        transform: translate(0 , -50%);
        
    }

    .show p{
        color: white;
        position: absolute;

        left: 50%;
        top: 75%;
        transform: translate(-50%,-25%) ;

    }

}